/*
Fonts classes go below
*/
/*.bubbler-one {
  font-family: 'Bubbler One', sans-serif;
}

.raleway {
  font-family: 'Raleway', sans-serif;
}


Elements that use fonts go below


h1 {
  font-family: 'Raleway', sans-serif;
}

h4 {
  font-family: 'Bubbler One', sans-serif;
}*/
